<a href="https://colab.research.google.com/github/dcreeder89/rails-to-trails-count-data-exploration/blob/main/Reeder_Loading_and_Filtering_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading and Filtering Data
- Christina Reeder
- 15 Nov 2022

In [ ]:
import pandas as pd

In [ ]:
# Connecting notebook to google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Read excel file data and save as pandas dataframe
filename = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas for Data Manipulation/Core Assignments/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel(filename)

# Look at dataframe info and first 5 rows to check data
bike_df.info()
bike_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 4.2+ KB

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
1,Week 2,2020-01-06,82340.0,97140.0,NaN,0.179743,117.974253,NaN,NaN,NaN
2,Week 3,2020-01-13,62315.0,75782.0,NaN,0.216112,121.611169,NaN,NaN,NaN
3,Week 4,2020-01-20,75801.0,83809.0,NaN,0.105645,110.564504,NaN,NaN,NaN
4,Week 5,2020-01-27,75841.0,94738.0,NaN,0.249166,124.916602,NaN,NaN,NaN

In [ ]:
# Check data types for each of the columns to know how to create a filter for the date
bike_df.dtypes

Timeframe                             object
Week of                       datetime64[ns]
 2019 counts (31 counters)           float64
 2020 counts (31 counters)           float64
2021 Counts                          float64
Change 2019-2020                     float64
Unnamed: 6                           float64
Unnamed: 7                           float64
Unnamed: 8                           float64
Unnamed: 9                           float64
dtype: object

> Code to test how the datetime objects work in Python

In [ ]:
# import datetime object into python
import datetime
# Create two test variables to test how the datetime objects work with boolean operators
x = datetime.datetime(2022, 1, 10)
y = datetime.datetime(2022, 2, 1)

print(f"Date 1 {x} > Date 2 {y} : {x>y}")
print(f"Date 1 {x} < Date 2 {y} : {x<y}")

Date 1 2022-01-10 00:00:00 > Date 2 2022-02-01 00:00:00 : False
Date 1 2022-01-10 00:00:00 < Date 2 2022-02-01 00:00:00 : True

> Back to the assignment

## 1. Select data after July 31, 2020 and save as df_filtered

In [ ]:
# Create datetime object for dataframe filter with 
date_cutoff = datetime.datetime(2020, 7, 31)

2020-07-31 00:00:00

In [ ]:
# Create dataframe filter with dates after our datetime object from above
date_filter = bike_df['Week of'] > date_cutoff
date_filter[:5]

0     True
1    False
2    False
3    False
4    False
Name: Week of, dtype: bool

## 2. Determine how many entries occur after July 31, 2020

In [ ]:
# Save new dataframe using the date filter
df_filtered = bike_df.loc[date_filter,:]
df_filtered.info()
df_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   22 non-null     object
 1   Week of                     22 non-null     datetime64[ns]
 2    2019 counts (31 counters)  22 non-null     float64
 3    2020 counts (31 counters)  22 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            22 non-null     float64
 6   Unnamed: 6                  22 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  1 non-null      float64
 9   Unnamed: 9                  1 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 1.9+ KB

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,2020-12-30,167679.0,183546.0,NaN,0.094627,1.094627,NaN,NaN,NaN
31,Week 32,2020-08-03,180605.0,239827.0,NaN,0.330000,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450.0,219279.0,NaN,0.150000,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754.0,241007.0,NaN,0.430000,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.550000,154.948931,NaN,NaN,NaN

In [ ]:
# Determine length of filtered dataframe 
filtered_df_length = len(df_filtered)
print(f"The number of entries that occured after July 31, 2020 are {filtered_df_length}")

The number of entries that occured after July 31, 2020 are 22

## 3. Select data where 'Change 2019 - 2020' is > 50%

In [ ]:
# Create filter for change 2019 - 2020 > 50%
change_filter = bike_df['Change 2019-2020'] > 0.5
change_filter[2:8]

2    False
3    False
4    False
5     True
6     True
7     True
Name: Change 2019-2020, dtype: bool

In [ ]:
# Save new dataframe using the change filter
df_filtered = bike_df.loc[change_filter,:]
df_filtered.info()
df_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 5 to 45
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   16 non-null     object
 1   Week of                     16 non-null     datetime64[ns]
 2    2019 counts (31 counters)  16 non-null     float64
 3    2020 counts (31 counters)  16 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            16 non-null     float64
 6   Unnamed: 6                  16 non-null     float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  0 non-null      float64
 9   Unnamed: 9                  0 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 1.4+ KB

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,Week 6,2020-02-03,79780.0,153555.0,NaN,0.924731,192.473051,NaN,NaN,NaN
6,Week 7,2020-02-10,65732.0,130351.0,NaN,0.983068,198.306761,NaN,NaN,NaN
7,Week 8,2020-02-17,69492.0,149876.0,NaN,1.156737,215.673747,NaN,NaN,NaN
8,Week 9,2020-02-24,85688.0,141250.0,NaN,0.648422,164.842218,NaN,NaN,NaN
9,Week 10,2020-03-02,84512.0,167528.0,NaN,0.982298,198.229837,NaN,NaN,NaN

## 4. Combine two filters

In [ ]:
# Create filtered dataframe that shw how many weeks in the second half of the year also had a change > 50%
df_filtered = bike_df.loc[date_filter & change_filter,:]
df_filtered.info()
df_filtered.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 34 to 45
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   2 non-null      object
 1   Week of                     2 non-null      datetime64[ns]
 2    2019 counts (31 counters)  2 non-null      float64
 3    2020 counts (31 counters)  2 non-null      float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            2 non-null      float64
 6   Unnamed: 6                  2 non-null      float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  0 non-null      float64
 9   Unnamed: 9                  0 non-null      float64
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 176.0+ bytes

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
34,Week 35,2020-08-24,176624.0,273677.0,NaN,0.55,154.948931,NaN,NaN,NaN
45,Week 46,2020-11-09,86824.0,155805.0,NaN,0.79,179.449231,NaN,NaN,NaN

In [ ]:
# Determine how many data points are in new, filtered dataframe
filtered_df_length = len(df_filtered)
print(f"The number of entries that occured after July 31, 2020 and have change > 50% are {filtered_df_length}")

The number of entries that occured after July 31, 2020 and have change > 50% are 2

## 5. Make new combined filter

In [ ]:
# Create combined filter for changes greater than 100% in the second half of the year
combined_filter = (bike_df['Week of'] > date_cutoff) & (bike_df['Change 2019-2020'] > 1.0)

In [ ]:
# Filter the dataframe with the combined filter and display the results
df_filtered = bike_df.loc[combined_filter,:]
df_filtered

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []

> No rows meet both conditions!